@using MyAspNetCoreApp.Web.Controllers
@{
    ViewData["Title"] = "Index";
}

<h1>Ornek Controller, Index Sayfası</h1>

@{
    var name = ViewBag.name;
    <p>@name</p>
}

<p>@name</p>

<p>@ViewBag.name</p>
<hr />
<p>Yaş : @ViewData["age"]</p>
@foreach (var item in ViewData["names"] as List<string>) //as keyword'ü ViewData["names"] dinamik tipini List<string> tipine dönüştürür.
{
    <p>@item</p>
}

<p>@ViewBag.person.Id - @ViewBag.person.Name - @ViewBag.person.Age</p>


<span>@DateTime.Now.ToShortDateString()</span>
@{
    var datetime = DateTime.Now.ToShortDateString();
    <p>@datetime</p>
}
<p>Bugünün tarihi : @datetime</p>

<partial name="_MenuPartialView" />

@section Scripts{
    <script type="text/javascript">
        alert("Sayfamıza Hoşgeldin")

        $(document).ready(function(){ //sayfa tamamen yüklendikten sonra bu koda eriş demek
            console.log("Sayfamıza Hoşgeldin")
        })
    </script>
}